.panda-bg-pink {
    background-color: #fceae8;
}

.panda-h1 {
    color: #ff458f;
    font-size: 2.5em;
}

.images-responsive img {
    width: 100px;
}

.panda-bg-brown {
    background-color: #da70d6;
}

.panda-bg-yellow {
    background-color: #ffa500;
}

.panda-bg-blue {
    background-color: #0000ff;
}

.panda-btn {
    background-image: linear-gradient(rgb(255, 88, 155) 0%, rgb(255, 19, 111) 100%);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;

}

.panda-btn-buy-padding {
    padding: .75rem 1.25rem;
}